@import "variables";

.dashboard-row {
  @extend %row;
  justify-content: space-between;
  margin-bottom: 32px;
}


.dashboard-block {
  @extend %column;
  background: #FFF;
  border-radius: 12px;
  padding: 32px;
}

.dashboard-additional-block {
  @extend %row;
  justify-content: space-between;
}

.dashboard-data {
  @extend %column;
  padding: 32px;
  border-radius: 12px;
  margin-bottom: 8px;
  color: #404040;
  text-decoration: none;
}

.dashboard-data-title {
  @extend %main-font;
  font-weight: 400;
  font-size: 16px;
}

.dashboard-data-counter {
  @extend %poppins-font;
  font-weight: 600;
  font-size: 48px;
  color: #000;
}

.dashboard-create-button {
  @extend %row;
  @extend %button;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  background: #FFF;
  border-radius: 12px;
  padding: 12px 40px;
  span {
    @extend %main-font;
    font-weight: 600;
    font-size: 18px;
  }
  img {
    width: 18px;
    margin-left: 8px;
  }
}

.dashboard-dark-green {
  background: #33566B;
  .dashboard-data-title {
    color: #FFF;
  }
  .dashboard-data-counter {
    color: #FFF;
  }
  .dashboard-create-button {
    span {
      color: #10415E;
    }
  }
}

.dashboard-main-color {
  background: #FFF;
  border: 2px solid #E1E5E9;
  border-radius: 12px;
}

.dashboard-light-gray {
  background: #F2F7F9;
  .dashboard-create-button {
    border: 1px solid #404040;
    span {
      color: #404040;
    }
  }
}

.dashboard-dark-gray {
  background: #DDE7EB;
}

.dashboard-blue-background {
  background: #38B4FE;
  .dashboard-data-title {
    color: #FFF;
  }
  .dashboard-data-counter {
    color: #FFF;
  }
  .dashboard-create-button {
    span {
      color: #38B4FE;
    }
  }
}

.dashboard-blue-border {
  background: #F4FAFE;
  border: 2px solid #38B4FE;
  .dashboard-data-title {
    color: #38B4FE;
  }
}


.dashboard-red-border {
  background: #FFF0F0;
  border: 2px solid #FE5656;
  .dashboard-data-title {
    color: #FE5656;
  }
}
