.form .button, .form .form-checkbox-with-label span, .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item .channel-data .channel-link, .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item .channel-data span, .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add input, .form .form-input-with-label .channel-input .channel-input-main span, .form .form-input-with-label span.additional_text, .form .form-input-with-label span, .form textarea::placeholder, .form .form-input-with-label input[type=number]::placeholder, .form .form-input-with-label input[type=text]::placeholder, .form textarea, .form .form-input-with-label input[type=number], .form .form-input-with-label input[type=text] {
  font-family: "Inter";
  font-style: normal; }

.form .form-checkbox-with-label, .form .form-input-with-label .input-with-variants .variants, .form .form-input-with-label .input-with-variants, .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item, .form .form-input-with-label .channel-input .channel-input-choices .channel-choice, .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add, .form .form-input-with-label .channel-input .channel-input-main .choose-arrow, .form .form-input-with-label .channel-input .channel-input-main, .form .form-input-with-label .choose {
  display: flex; }

.form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item .channel-data, .form .form-input-with-label .channel-input .channel-input-choices, .form .form-input-with-label .channel-input, .form .form-input-with-label {
  display: flex;
  flex-direction: column; }

.form .button, .form .form-input-with-label .input-with-variants .variants button, .form .form-input-with-label .channel-input .channel-input-choices .channel-choice, .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add button, .form .form-input-with-label .channel-input .channel-input-main, .form .form-input-with-label .choose button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  text-decoration: none; }

.form textarea, .form .form-input-with-label input[type=number], .form .form-input-with-label input[type=text] {
  outline: none;
  font-weight: 400;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #E1E5E9;
  border-radius: 8px;
  color: #404040;
  padding: 16px;
  width: calc(480px - 16px * 2); }

.form textarea::placeholder, .form .form-input-with-label input[type=number]::placeholder, .form .form-input-with-label input[type=text]::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #404040; }

.form .form-input-with-label {
  margin-bottom: 40px; }
  .form .form-input-with-label span {
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin-bottom: 16px; }
  .form .form-input-with-label span.additional_text {
    font-weight: 400;
    font-size: 12px;
    margin-top: 15px; }
  .form .form-input-with-label input[type=number] {
    -moz-appearance: textfield; }
  .form .form-input-with-label input[type=number]::-webkit-outer-spin-button,
  .form .form-input-with-label input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .form .form-input-with-label .choose {
    flex-wrap: wrap;
    width: 680px; }
    .form .form-input-with-label .choose button {
      color: #000;
      background: #FFF;
      border-radius: 8px;
      font-size: 14px;
      padding: 16px 32px;
      margin-right: 12px;
      margin-bottom: 12px; }
    .form .form-input-with-label .choose button.chosen {
      background: #38B4FE;
      box-shadow: 0 2px 8px rgba(56, 180, 254, 0.4);
      color: #FFF; }
    .form .form-input-with-label .choose .choose-button-icon {
      width: 18px;
      height: 18px; }
  .form .form-input-with-label .channel-input {
    position: relative;
    width: 480px; }
    .form .form-input-with-label .channel-input .channel-input-main {
      width: 100%;
      align-items: center;
      padding: 16px;
      background: #FFF;
      border: 1px solid #E1E5E9;
      border-radius: 8px; }
      .form .form-input-with-label .channel-input .channel-input-main span {
        color: #404040;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 0; }
      .form .form-input-with-label .channel-input .channel-input-main .choose-arrow {
        align-items: center;
        width: 18px;
        margin-left: auto; }
    .form .form-input-with-label .channel-input .channel-input-choices {
      background: #FFF;
      max-height: 175px;
      overflow-y: auto;
      border-radius: 0 0 8px 8px; }
      .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add {
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid #E1E5E9;
        border-right: 1px solid #E1E5E9;
        border-bottom: 1px solid #E1E5E9;
        padding: 10px 16px; }
        .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add input {
          font-weight: 400;
          font-size: 14px;
          color: #404040;
          background: none;
          border: none;
          outline: none; }
        .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add input::placeholder {
          font-weight: 400;
          font-size: 14px;
          color: #404040; }
        .form .form-input-with-label .channel-input .channel-input-choices .channel-input-add button {
          color: #FFF;
          font-weight: 400;
          font-size: 12px;
          padding: 8px 16px;
          background: #38B4FE;
          border-radius: 4px; }
      .form .form-input-with-label .channel-input .channel-input-choices .channel-choice {
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid #E1E5E9;
        border-right: 1px solid #E1E5E9;
        border-bottom: 1px solid #E1E5E9;
        padding: 10px 16px; }
        .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item {
          align-items: center; }
          .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item .channel-status {
            width: 18px;
            height: 18px;
            background: #38B4FE;
            border-radius: 100%;
            margin-right: 15px; }
          .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item .channel-data span {
            font-weight: 400;
            font-size: 14px;
            color: #404040;
            margin-bottom: 4px;
            text-align: start; }
          .form .form-input-with-label .channel-input .channel-input-choices .channel-choice .channel-choice-item .channel-data .channel-link {
            text-decoration: none;
            font-weight: 400;
            font-size: 10px;
            color: #38B4FE;
            margin-bottom: 0; }
    .form .form-input-with-label .channel-input .channel-input-choices::-webkit-scrollbar {
      display: none; }
    .form .form-input-with-label .channel-input .channel-input-choices::-webkit-scrollbar-track {
      display: none; }
    .form .form-input-with-label .channel-input .channel-input-choices::-webkit-scrollbar-thumb {
      display: none; }
  .form .form-input-with-label .input-with-variants {
    background: #FFF;
    border: 1px solid #E1E5E9;
    width: calc(480px - 16px * 2);
    padding: 10px 16px;
    border-radius: 8px; }
    .form .form-input-with-label .input-with-variants input {
      outline: none;
      background: none;
      border: none;
      padding: 0; }
    .form .form-input-with-label .input-with-variants .variants {
      border: 0.5px solid #38B4FE;
      border-radius: 4px; }
      .form .form-input-with-label .input-with-variants .variants button {
        font-size: 12px;
        color: #404040;
        padding: 8px 24px;
        height: 100%; }
      .form .form-input-with-label .input-with-variants .variants .chosen {
        color: #FFF;
        background: #38B4FE;
        border: 1px solid #38B4FE; }

.form textarea {
  resize: none;
  height: 350px; }

.form .form-checkbox-with-label {
  align-items: center;
  margin-bottom: 16px; }
  .form .form-checkbox-with-label input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .form .form-checkbox-with-label input[type=checkbox] + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer; }
  .form .form-checkbox-with-label input[type=checkbox] + label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E1E5E9;
    border-radius: 100%;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%; }
  .form .form-checkbox-with-label input[type=checkbox]:checked + label::before {
    background-color: #38B4FE;
    background-image: url("../img/circle.svg"); }
  .form .form-checkbox-with-label span {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-left: 12px; }

.form .button {
  font-weight: 600;
  font-size: 18px;
  color: #FFF;
  background: #2296FE;
  border-radius: 12px;
  padding: 12px 150px;
  margin-top: 15px; }
